<link rel="stylesheet" href="styles/login.css">
<div class="login" ng-controller="TenantCtrl as tenant">
    <div class="login-page">
        <h3 style="color: rgba(255, 255, 255, 0.85);">Rentapp / Inicio de Sesión</h3>
        <div class="form">

            <form class="login-form">

                <input type="text" placeholder="correo" />
                <input type="password" placeholder="contraseña" />
                <button>ENVIAR</button>
                <!-- <p class="message">Not registered? <a href="#">Create an account</a></p> -->
            </form>
        </div>
    </div>
</div>
